rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /google_auth_credentials/{docId} {
      // FIXME: Only allow access to scope field. Move accessToken and refreshToken to a private collection.
      allow read: if resource.data.uid == request.auth.uid
    }

    match /plaid_items/{docId} {
      allow read: if resource.data.uid == request.auth.uid
    }

    match /plaid_financial_accounts/{docId} {
      allow read: if resource.data.uid == request.auth.uid
    }

    match /user_account_settings/{docId} {
      allow read, write: if resource.data.uid == request.auth.uid
    }

    match /cat_transform_configs/{docId} {
      allow read, write: if resource.data.uid == request.auth.uid || request.resource.data.uid == request.auth.uid
    }

    // apps/google-sheet-sync
    match /app_gss_settings/{docId} {
      allow read, write: if resource.data.uid == request.auth.uid || request.resource.data.uid == request.auth.uid
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
